.nav-tabs {
  float: right;
  margin-right: 3%;
  background-color: pink;
}

.header {
  font-family: 'Fruktur', cursive;
  background-color: palevioletred;
}

body {
  background-color: #fffdd0;
}

/* .card {
  background: rgba(255, 255, 255, 0.281);
  border-radius: 4px;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
} */
.card {
  background: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px rgba(153, 153, 153, 0.295), 0 3px 6px rgb(153, 153, 153);
  text-align: left;
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: palevioletred;
  padding-top: 10px;
}
.card > .img-container > img {
  width: 90%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  height: 200px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.port-card {
  height: 400px;
}

.portfolio-container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.container {
  margin-left: 25%;
  border: 1px white solid;
  background-color: #fffdd0;
  width: 50%;
}
body {
  background-image: url('assets/screen.png');
}
.nav-tabs {
  border: 4px rgb(211, 211, 211) solid;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.about-container {
  border-radius: 4px white solid;
  background-color: #ffd0e4;
  width: 50%;
  margin-left: 25%;
  height: 600px;
  padding: 20px;
  margin-top: 10%;
}

.profile {
  width: 300px;
  height: auto;
  padding: 15px;
}

.resumePNG {
  width: 150px;
  height: auto;
  margin-left: 75px;
  margin-top: 15px;
}
.contactPNG {
  width: 150px;
  height: auto;
  margin-left: 75px;
  margin-top: 15px;
}

.footer {
  font-family: 'Fruktur', cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: plum;
  color: white;
  text-align: center;
}

.contact-card {
  border: 1px white solid;
  background-color: #fffdd0;
  width: 25%;
  margin-left: 35%;
  margin-top: 20px;
}

.contactLinks {
  margin-left: 35%;
}

.card-home {
  height: 400px;
}

.row-home {
  margin-top: 10%;
  margin-left: 33%;
}
input {
  text-align: center;
  margin: 10px auto;
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin: 20px auto;
}
#messageField {
  height: 200px;
}
#submitBtn {
  width: 50%;
  align-self: center;
}
/* .ome-profile-photo {
  margin-left: 20%;
} */
